<h2>All users</h2>
<table class="users">
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to h(user.name), user %>
      </td>
      <td>
        <% if current_user.admin? %>
        |  <%= link_to "delete", user, :method => :delete, :confirm => "You sure?" %> 
      </td>
        <% end %> 
    </tr>
    <% end %> 
</table>
<br>
<br>
<b><%= link_to "Home", root_path %></b>