<table border ="0" cellspacing="20">
<tr align ="left">
<th>Library ID </th>
<th >Library Name </th>
<th>City </th>
<th>Phone</th>
</tr>
<% @libraries.each do |insts| %>
<td> <%= insts.id %> </td>
<td> <%= insts.name %></td>
<td> <%= insts.city %></td>
<td> <%= insts.phone %></td>
</tr>
<% end %>
</table>
 