<table border ="0" cellspacing="20">
<tr align ="left">
<th>Library ID </th>
<th >Library Name </th>
<th>City </th>
<th>Phone</th>
</tr>
<% @libraries.each do |ins| %>
<td> <%= ins.id %> </td>
<td> <%= ins.name %></td>
<td> <%= ins.city %></td>
<td> <%= ins.phone %></td>
</tr>
<% end %>
</table>
 