<p>
	The library, contains tens of thousands of books and members which must be organized in order to prevent chaos.  As our technology improves, we start to see more and more the enormous amount of help which we can receive from computers.  Therefore, the logical and simple solution to this organization problem is to computerize the whole library system.

    For this purpose, we built a system which can help all the libraries in the world: A "Computerized Library System" .  Our system has a GUI (graphical user interface) on the internet which allows all of the members , both readers and librarians, a full function access to the library system through the Internet.
</p>