<h2 align="center">
List of all books in the library
</h1>
<table border="1" style="width:100%">
  <tr>
    <th>ID</th>
    <th>BookName</th>
    <th>AuthorName</th>
    <th>Available</th>
  </tr>
  <% @book.each do |book| %>
    <tr>
      <td>
        <%= book.id %>
      </td>
      <td>
        <%= book.name %> 
      </td>
      <td>
        <%= book.author %>
      </td>
      <td>
      <% if book.available %>
      Y
      <% else %>
      N
      <% end %>
      </td>
        <% if current_user.admin? %>
        <td><%= link_to "delete", book, :method => :delete, :confirm => "You sure?" %></td>
      <% end %>
    </tr>
  <% end %> 
</table>