<div class="books"> 
	<ul>
		<% if signed_in? %>
			<% if current_user.admin? %>
				<li><%= link_to "Add Books to Library", addbooks_path %></li>
			<% end %>
			<li><%= link_to "Search Books", searchbooks_path %></li> 
		<% end %>
	</ul>
	<br>
	<br>
</div>